.space-around {
  padding: 2rem;
}
.purple-shadow {
  box-shadow: 0px 0px 15px rgba(132, 68, 132, 0.887);
  display: flex;
}

.play-button {
  margin: 0.5rem;
  width: 95%;
}

.quiz-prompt {
  width: 22rem;
}

.quiz-img {
  max-width: 100%;
  max-height: 100%;
  background-size: contain !important;
  background-size: contain;
}

.img-container {
  /* width: 40rem; */
  display: flex;
  max-height: 30rem;
}
